/* Style CSS */
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Colors of Letters */
  
  .Commmon {
    color: #172b4d;
  }
  
  .blue {
    color: #1E488F;
  }
  
  .wblue {
    color: #172B4D;
  }
  
  .blue-light {
    color: #E2EDFF;
  }
  
  .gray {
    color: #ebf0ee;
  }
  
  .gray-text {
    color: #6b778c;
  }
  
  .white {
    color: #fff;
  }
  
  /* Body */
  
  .border {
    border: 1px solid #d0d9d4;
    border-radius: 4px;
  }
  
  body {
    font-family: "Inter", sans-serif;
    font-style: normal;
  }
  
  .poppins {
    font-family: "Poppins", sans-serif;
  }
  
  a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
  }
  
  a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
  }
  
  /* Wayfinder */
  
  #wayfinder-section {
    background-image: url(./images/background-mob.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 17%;
  }
  
  #wayfinder-section p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
  
  #wayfinder-section ul {
    display: inline-flex;
    justify-content: space-around;
    width: 45%;
  }
  
  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }
  
  #wayfinder-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #logotype {
    margin-top: 24px;
    margin-left: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }
  
  #wayfinder-menu {
    margin-top: 24px;
    margin-right: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .line {
    width: 20px;
    border-radius: 2px;
    border: 1.5px solid;
    margin: 5px;
  }
  
  #scrolldown {
    background-color: transparent;
    border: none;
  }