/* CSS basic Setup */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

/* Color palette */

.Common {
  color: #172b4d;
}

.dblue {
  color: #344563;
}

.blue {
  color: #36b37e;
}

.blueBG {
  background-color: #36b37e;
}

.cblue {
  color: #28352f;
}

.cblueB {
  color: #3a4a42;
}

.green-light {
  color: #c5e9da;
}

.gray {
  color: #ebf0ee;
}

.Gbackground {
  background-color: #ebf0ee;
}

.gray-text {
  color: #6b778c;
}

.blank {
  color: #fff;
}

/* Genral Classes */

.edge {
  border: 1px solid #d0d9d4;
  border-radius: 3%;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

/* Home Page */

#principal-division {
  background-image: url(./images/background-mob.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 17%;
}

#principal-division header {
  display: none;
}

#principal-division p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 87%;
}

.navway-row {
  display: inline-flex;
  justify-content: space-around;
  width: 45%;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

h6 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #6b778c;
  margin-top: 5%;
}

#principal-topline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#logo {
  margin-top: 24px;
  margin-left: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

#menu {
  margin-top: 24px;
  margin-right: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.display-desktop {
  display: none;
}

.line {
  width: 20px;
  border-radius: 2px;
  border: 1.5px solid;
  margin: 5px;
}

#roll-button {
  background-color: transparent;
  border: none;
}

.legend {
  width: 80%;
  justify-self: center;
}

.legend::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #36b37e;
  border-radius: 24px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

#labors-division {
  display: grid;
  grid-column: auto;
  justify-content: center;
}

#deck {
  display: grid;
  grid-column: auto;
  justify-content: center;
  margin: 50px 0 0 0;
}

.box-case {
  margin: 20px 0 20px 0;
  position: relative;
}

.box-information {
  background-color: #fff;
  border-radius: 5%;
  width: 100%;
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.local-end {
  position: absolute;
  width: 100%;
  bottom: 0.1%;
  padding: 6% 3%;
}

.syntax-list {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.syntax {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  border-radius: 8%;
  padding: 2% 2%;
}

.box-response {
  align-self: center;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.sproject {
  padding: 7% 5%;
  border-radius: 4px;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
}

.sproject:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.sproject:active {
  background: #008552;
  border-radius: 4px;
}

/* about myself */

#aboutme {
  background-image: url(./images/AMS-Top.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

.about-topline {
  margin-top: 10%;
}

.about-express {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 3%;
}

.pAboutme {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  padding-top: 10%;
  padding-bottom: 10%;
}

.background-about {
  background-image: url(./images/AMS.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#about-deck-case {
  padding-top: 15%;
}

.about-box {
  padding-top: 2%;
  padding-bottom: 2%;
}

.kin {
  position: relative;
}

.ams {
  position: absolute;
  top: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.category-data {
  padding-top: 6%;
}

.category-list {
  padding-top: 5%;
}

.category-item {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border-radius: 10%;
  padding: 4% 3%;
  background-color: white;
}

.syntax-list-two {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.adapt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* formulary */

.adapt-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formulary-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  width: 90%;
}

textarea {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  padding: 12px;
  border: 1px solid #60c095;
  border-radius: 4px;
}

#formulary-bimg {
  position: absolute;
  background-image: url(./images/network-backimage.svg);
  background-repeat: no-repeat;
  background-position: right top 720px;
  width: 100%;
  height: 100%;
}

#formulary,
#formulary-text {
  margin-top: 10%;
}

#formulary {
  width: 90%;
}

.footer ul {
  padding: 0;
  display: flex;
  list-style: none;
}

#formulary > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#formulary > ul li,
textarea {
  width: 100%;
}

#formulary input {
  width: 100%;
  height: 48px;
  padding: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
}

#button-case {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#button-case .sproject {
  color: #fff;
  background-color: #36b37f;
  cursor: pointer;
  padding: 3% 2%;
}

#button-case .sproject:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

#button-case .sproject:active {
  background: #008552;
  border-radius: 4px;
}

#conect-sm {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 17px;
}

#formulary-division h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-bottom: 300px;
}

.desk-dp {
  display: none;
}

.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 5%;
}

.smsymbols {
  max-width: 35px;
  max-height: 35px;
  margin: 0 8px;
}

/* Desktop Version */

@media screen and (min-width: 768px) {
  #principal-topline {
    display: none;
  }

  #principal-division {
    min-height: 120vh;
    background-image: url(./images/topline-desktop.svg);
    padding-top: 2%;
    justify-content: start;
    gap: 3%;
  }

  #principal-division header {
    display: block;
    width: 100%;
    margin-bottom: 12%;
  }

  .display-desktop {
    display: inline;
  }

  #principal-division p {
    width: 56.5%;
  }

  .way {
    font-weight: 550;
    font-size: 15px;
    line-height: 110%;
    text-align: center;
    color: #344563;
  }

  .navway-row {
    justify-content: space-between;
    width: 18%;
  }

  .more-button {
    margin-top: 4%;
  }

  /* Works Section */

  #labors-division {
    margin-top: 8%;
  }

  .legend::after {
    width: 0;
    height: 0;
    background-color: none;
    border-radius: none;
    position: relative;
  }

  .legend {
    width: 100%;
  }

  #deck {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    justify-content: center;
    margin: 50px 0 0 0;
  }

  /* about myself */

  #aboutme {
    background-image: url(./images/desktop-fm.svg);
    margin-top: 5%;
  }

  .pAboutme {
    align-self: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 56.5%;
  }

  #aboutme .box-response {
    width: 12%;
  }

  .background-about {
    background-image: url(./images/aboutme-desk.svg);
    background-repeat: no-repeat;
    background-size: unset;
    background-position: left bottom 70px;
    width: 100%;
  }

  #about-deck-case {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    width: 80%;
  }

  .ams {
    left: 6%;
  }

  .desk-dp {
    display: block;
  }

  .dmob {
    display: none;
  }

  /* Contact me section */

  #formulary-division {
    height: 78vh;
  }

  #formulary-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    line-height: 143%;
    text-align: left;
    width: 33%;
    margin-top: 14%;
  }

  .adapt-row {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;
  }

  #conect-sm {
    display: none;
  }

  #formulary {
    width: 47%;
  }

  #button-case {
    justify-content: flex-start;
  }

  #formulary-l-bg {
    position: absolute;
    background-image: url(./images/concern-1.svg);
    background-repeat: no-repeat;
    background-position: left top 370px;
    width: 100%;
    height: 100%;
  }

  #formulary-m-bg {
    position: absolute;
    background-image: url(./images/concern-2.svg);
    background-repeat: no-repeat;
    background-position: left 270px top 530px;
    width: 100%;
    height: 100%;
  }

  #formulary-bimg {
    position: absolute;
    background-image: url(./images/concern-3.svg);
    background-repeat: no-repeat;
    background-position: right top 220px;
    width: 100%;
    height: 100%;
  }

  .addressemail {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 75%;
    margin-top: 5%;
  }

  .addressemail ul {
    padding: 0;
    display: flex;
    list-style: none;
  }

  .footer {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10%;
  }

  .smsymbols {
    max-width: 35px;
    max-height: 35px;
    margin: 0 8px;
  }
}
